<h1>{{title}}</h1>
<p>Welcome to {{subtitle}}</p>
<hr />
<button name="dark" title="Toggle dark mode" type="submit">
  <a href="/dark-mode">Toggle Dark Mode HTML</a>
</button>
<button name="light" title="Toggle light mode" type="submit">
  <a href="/light-mode">Toggle Light Mode HTML</a>
</button>

<hr />
<button 
  id="dark-javascript" 
  name="dark" 
  title="Toggle dark mode"
  data-theme="dark">
    <a href="#">Toggle Dark Mode JavaScript</a>
</button>
<button 
  id="light-javascript" 
  name="light" 
  title="Toggle light mode"
  data-theme="light">
    <a href="#">Toggle Light Mode JavaScript</a>
</button>
