<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="{{ theme }}">
    {{{body}}}
    <script src="/javascripts/index.js" defer="true"></script>
  </body>
</html>
